:root{
    --color-primario: #fcb038;
    --color-secundario: #fcb038;
    --color-background:#eff6f5;
    --color-texto: #a1a5a6;
    --text-default: 'Open Sans';
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--text-default);
}
body{
    background: var(--color-background);
}
.wrapper{
    width: 100%;
    margin:0 auto;
    padding-right: 30px;
    padding-left: 30px;
}
.titulos{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}
.subtitulo{
    font-size: 25px;
    font-weight: 400px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-primario);
}
.btn{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    background: var(--color-primario);
    font-weight: 700;
    padding: 15px 30px;
    outline: none;
    border: 2ps solid var(--color-primario);
    cursor: pointer;
    position: relative;
    top:20px;
    transition: all 0.3s;
}
.btn:hover{
    padding: 15px 45px;
}
.btn span{
    padding-left: 10px;
}